<%= link_to "Back to Wiki", @wiki %>
<h1>Edit Wiki</h1>
<br>
<br>

 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for Wikis</p>
     <ul>
       <li>Make sure it is honest.</li>
       <li>Make sure it is clean.</li>
     </ul>
   </div>
  <div class="col-md-8">
    <%= render partial: 'form' %>
  </div>
 </div>
 <div class="form-group">
   <%= render partial: 'collaborators/collaborators', locals: { wiki: @wiki, user: current_user } %>
 </div>
